   body {
     margin:0px;
   }
   #first {
     width:100%;
     height:30px;
     background:purple;
     margin:auto;
   }
   #first #inn {
     width:1100px;
     height:30px;
     margin:auto;
   }
   #first #left {
     display:inline-block;
     width:1000px;
     height:30px;
     text-align:center;
     padding-top:4px;
     color:white;
     font-size:13px;
   }
   #first #right {
     display:inline-block;
     width:90px;
     height:30px;
     padding-top:4px;
     color:white;
     font-size:13px;
   }
   #second {
     width:1100px;
     height:30px;
     margin:auto;
     padding-top:3px;
   }
   #second #left {
     float:left;
     padding-top:2px;
     font-size:13px;
   }
   #second #left span {
     display:inline-block;
     width:170px;
     height:20px;
     padding-top:4px;
     text-align:center;
     border:1px solid #cccccc;
     border-radius:10px;
     color:#aaaaaa;
   }
   #second #right {
     float:right;
     margin-top:-10px;
     font-size:13px;
   }
   #second #right > ul > li {
     display:inline-block;
     list-style-type:none;
     margin-left:12px;
     height:30px;
   }
   #second #right #inner {
     position:absolute;
     width:120px;
     height:110px;
     left:-60px;
     top:20px;
     background:white;
     padding-left:0px;
     border:1px solid black;
     visibility:hidden;
   }
   #second #right #inner li{
     margin-top:3px;
     list-style-type:none;
   }
   #third {
     width:1100px;
     height:80px;
     margin:auto;
   }
   #fourth {
     width:1100px;
     height:40px;
/*      background:green; */
     margin:auto;
   }
   #fourth > ul > li {
     display:inline-block; /* li태그를 inline형으로 변경 */
     width:150px;
     height:40px;
   
   }
   #fourth #mini {
     width:30px;
   }
   #fourth li {
     list-style-type:none;
   }
   #fourth #main_menu {
     position:relative;
     z-index:10;
     
 
   }
   #fourth #main_submenu {
     padding-left:0px;
     font-size:13px;
     position:absolute;
     visibility:hidden; 
     background:white;
     width:130px;
     height:360px;
   }
   #fourth .inner_menu {
     visibility:hidden;
     position:absolute;
     left:115px;
     top:0px;
     background:white;
     padding-left:30px;
     width:100px;
     height:200px;
     
   }
   
   #fifth {
     width:1100px;
     height:400px;
/*      background:lightblue; */
     margin:auto;
   } 
   #sixth {
     width:1100px;
     height:550px;
/*      background:#541684; */
     margin:auto;
   }
   #seventh {
     width:1100px;
     height:550px;
/*      background:#882156; */
     margin:auto;
   }
   #eighth {
     clear:both; /* float를 해제 */
     width:1100px;
     height:550px;
     background:#89a469;
     margin:auto;
   }

   
   /* member.jsp */
   #mem_section input[type=text] {
     width:250px;
     height:30px;
     border:1px solid purple;
   }